[motor_constants SIBOOR-42STH40-1684A_300]
# Coil resistance, Ohms
resistance: 1.65
# Coil inductance, Henries
inductance: 0.0032
# Holding torque, Nm
holding_torque: 0.36
# Nominal rated current, Amps
max_current: 1.68
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: siboor-42sth48-2504(s45)
voltage: 48
[autotune_tmc stepper_y]
motor: siboor-42sth48-2504(s45)
voltage: 48
[autotune_tmc stepper_x1]
motor: siboor-42sth48-2504(s45)
voltage: 48
[autotune_tmc stepper_y1]
motor: siboor-42sth48-2504(s45)
voltage: 48
#[autotune_tmc stepper_z]
#motor: SIBOOR-42STH40-1684A_300
#voltage: 48
#[autotune_tmc stepper_z1]
#motor: SIBOOR-42STH40-1684A_300
#voltage: 48
#[autotune_tmc stepper_z2]
#motor: SIBOOR-42STH40-1684A_300
#voltage: 48
[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg-9T